/* Font Imports */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Global Styles */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f8fc;
  color: #10182f;
  scroll-behavior: smooth; /* Enables smooth scrolling */
}

/* Header */
header {
  background-color: #52b1ff;
  color: #fff;
  padding: 10px;
  text-align: center;
  margin-top: -20px;
}

/* Headings */
h1, h2 {
  font-family: 'Crimson Text', serif;
  margin-top: 50px;
  text-align: center;
}

h2 {
  font-size: 70px;
  margin: 10px 0 15px;
  text-align: center;
}

main h2 {
  text-align: left;
  margin-left: 180px;
}

main p {
    color: rgb(0, 0, 0);
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 30px;
    width: 70%;
    margin: 0 auto; /* Center the paragraph */
    margin-top: 20px;
}

/* Navigation */
nav {
  background-color: #ebebeb;
  overflow: hidden;
  text-align: center;
  justify-content: center;
  display: flex;
  gap: 80px;
}

.nav .dropdown {
  position: relative;
}

nav a {
  display: inline-block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Dropdown */
.dropdown {
  display: inline-block;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  padding: 14px 16px;
  background-color: inherit;
}

.dropdown-content {
  display: none; /* Hide dropdown by default */
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  text-align: left;
  display: block;
}

.dropdown-content a:hover {
  background-color: #c5c5c5b4;
}

.dropdown:hover .dropdown-content {
  display: block;
}


main {
  padding: 2.5% 10%;
  text-align: center;
  margin-bottom: 65px;
}

footer {
  background-color: #52b1ff;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin: auto;
}

/* Testimonials */
.testimonials {
  margin-top: 10px;
  background: white;
}

.testimonials-box {
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 50px;
}

.testimonials .heading {
  margin-bottom: 5rem;
  text-align: center;
}

.testimonials-box img {
  width: 10rem;
  border-radius: 50%;
  border: 3px solid white;
  box-shadow: 0 0 25px white;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0px;
}

.testimonial-item {
  min-height: 100px;
  max-width: 200px;
  border-radius: 2rem;
  margin: 0 0.5rem;
  padding: 30px 50px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.5rem;
  color: rgb(0, 0, 0);
  transition: 0.4s ease-in-out;
}

.testimonial-item:hover {
  transform: translateY(-10px) scale(1.03);
}

.testimonial-item h2 {
  font-size: 1.5rem;
  margin: 0px;
}

.testimonial-item p {
  font: 1rem;
  margin: 0px;
}

#star {
  color: #ffffff;
  font-size: 2rem;
}

/* FAQ Section */
.faq-section {
  max-width: 1100px;
  margin: 50px auto 100px;
  text-align: center;
}

.faq {
  border: 1px solid #ccc;
  margin: 10px 0;
  border-radius: 5px;
}

.faq-button {
  background-color: #f1f1f1;
  padding: 15px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
}

.faq-button:hover {
  background-color: #ddd;
}

.faq-content {
  display: none;
  padding: 15px;
  border-top: 1px solid #ccc;
}

.active .faq-content {
  display: block;
}

.faq h2 {
  text-align: right;
}

/* Map */
.map {
  margin-bottom: -10px;
}

/* Gallery */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  margin-bottom: 100px;
}
.gallery-item {
  width: 200px;
  height: 150px;
  cursor: pointer;
}
.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px solid #ccc;
  border-radius: 4px;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}
.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}
.modal-content img {
  max-width: 80%;
  max-height: 80%;
}
.close {
  color: white;
  position: absolute;
  top: 15px;
  right: 35px;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  user-select: none;
  margin-left: 200px;
  margin-right: 200px;

}
.prev {
  left: 10px;
}
.next {
  right: 10px;
}
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
